/*
While em is relative to the font size of its direct or nearest parent, 
rem is only relative to the html (root) font-size. 
*/

/* Navigation */
.nav-row {
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
}

.nav-row a {
    display: inline;
    font-family: 'Sniglet', cursive;
    text-decoration: none;
    padding-right: 1rem;
    padding-left: 1rem;
}

.nav-row .nav-row-logo a {
    font-size: 1.5em;
    font-weight: bold;
    
}

.nav-row .nav-row-links a {
    font-size: 1.25em;
}


/* Jumbotron */
.jumbotron {
    padding-top: 6rem;
    background-color: white;
    text-align: center;
}

.about-jumbotron {
    padding-bottom: 1rem;
}

.jumbotron .chrome-extension-download-btn {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-family: 'Sniglet', cursive;
    font-weight: bold;
    color: white;
    background-color: #3ecf8e;
    border-color: #3ecf8e;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;

}

.text-analyse-container .text-analyse-input-section {
    display: flex;
    align-items: center;
}

.text-analyse-container .text-analyse-input-section .text-analyse-textarea {
    flex-basis: 80%;
    margin-right: 1em;
}

.text-analyse-container .text-analyse-input-section  .text-analyse-textarea p {
    font-size: 1em;
    margin-bottom: 0.25em;
}

.text-analyse-container .text-analyse-input-section  .text-analyse-btn {
    max-height: 2em;
    padding: 0.5rem 2rem 2rem 2rem;
    font-family: 'Sniglet', cursive;
    font-weight: bold;
    color: white;
    background-color: #6772e5;
    border-color: #6772e5;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.text-analyse-result {
    margin-top: 1em;
}

.text-analyse-container .text-analyse-result-section .text-analyse-result-loader {
    text-align: center;
}

.text-analyse-container .text-analyse-result-section .text-analyse-result-row {
    display: flex;
    font-size: 1.5em;
}

.text-analyse-result .text-analyse-result-query-label {
    font-family: 'Sniglet', cursive;
    flex-basis: 20%;
}

.text-analyse-result .text-analyse-result-query-content {
    padding-left: 1em;
    text-align: justify;
    flex-basis: 80%;
}

.text-analyse-result .text-analyse-result-evidence-content {
    padding-left: 1em;
    flex-basis: 80%;
}

/* Evidence Item */
.text-analyse-container .text-analyse-result-section .text-analyse-result-row .evidence-item .evidence-item-source {
    font-size: 0.55em;
}

.text-analyse-container .text-analyse-result-section .text-analyse-result-row .evidence-item .evidence-item-title {
    font-size: 0.75em;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    text-decoration: none;
}

.text-analyse-container .text-analyse-result-section .text-analyse-result-row .evidence-item .evidence-item-time {
    font-size: 0.55em;
}

.text-analyse-container .text-analyse-result-section .text-analyse-result-row .evidence-item .evidence-item-sentence {
    font-size: 0.55em;
    text-align: justify;
}

/* Footer */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/* Article */
.article-item {
    padding-top: 0.125em;
    padding-bottom: 0.125em;
    background-color: #efefef;
}

.article-item-id {
    flex-basis: 3em;
}

.pagination-row {
    padding-top: 0.25em;
    background-color: #efefef;   
}

.search-textbox {
    padding-top: 0.5em;
    background-color: #efefef;
}

.article-paragraph-span-selected {
    background-color: yellow;
}

.article-paragraph-span:hover {
    background-color: yellow;
    cursor: pointer;
}
.related-articles-card {
    margin-bottom: 2em;
    width: 30rem;
}

